extends layout

block content

  div(id="wallet-form")
    form(name="wallet")
      div
        label(for="wallet") Enter wallet address
      div
        input(
          name="wallet-address"
          type="text"
          placeholder="738d145faabb1e00cf5a017588a9c0f998318012"
        )
      div
        input(type="submit")

    div(id="balance-value")
