doctype html
html
  head
    title= title
    link(rel='icon', type='image/x-icon', href='/favicon.ico')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://unpkg.com/axios/dist/axios.min.js', async)
    script(src='/javascripts/main.js', async)
  body
    block content
